version: "3.8"

services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 10s
      retries: 5
    restart: always

  airflow-init:
    build:
      context: ../..          # project root
      dockerfile: infra/docker/Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    command: >
      bash -c "
      airflow db migrate &&
      airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com;
      "

  airflow-webserver:
    build:
      context: ../..          # project root
      dockerfile: infra/docker/Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW__CORE__FERNET_KEY: ""
      AIRFLOW__WEBSERVER__EXPOSE_CONFIG: "true"
    volumes:
      - ../../airflow/dags:/opt/airflow/dags
      #- ../../ingestion:/opt/airflow/ingestion
      #- ../../aws:/opt/airflow/aws
      - airflow-logs:/opt/airflow/logs
      - ~/.aws:/home/airflow/.aws:ro

    ports:
      - "8081:8080"
    restart: always
    command: webserver

  airflow-scheduler:
    build:
      context: ../..          # project root
      dockerfile: infra/docker/Dockerfile
    command: scheduler
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW__CORE__FERNET_KEY: ""
    volumes:
      - ../../airflow/dags:/opt/airflow/dags
      #- ../../ingestion:/opt/airflow/ingestion
      #- ../../aws:/opt/airflow/aws
      - airflow-logs:/opt/airflow/logs
      - ~/.aws:/home/airflow/.aws:ro
      - ../script:/opt/airflow/script

    restart: always

volumes:
  postgres-db-volume:
  airflow-logs:
